@import "tailwindcss";

@theme {
  --color-primary: #009966;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }

  button {
    transition: all 0.3s ease;
  }

  input, select {
    transition: all 0.3s ease;
  }
}